.background{
    -fx-background-color: #2a2a2a;
}

.control-pane{
    -fx-background-color: derive(#2a2a2a, 20%);
}

.separator *.line{
    -fx-border-style: solid;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: derived(#2a2a2a, 40%);
}

.label{
    -fx-font-size: 11pt;
    -fx-font-family: "Roboto";
    -fx-text-fill: #d1d1d1;
}

.button {
    -fx-padding: 5 15;
    -fx-border-radius: 50%;
    -fx-border-color: #d1d1d1;
    -fx-border-width: 2;
    -fx-background-radius: 1000;
    -fx-background-color: derived(#2a2a2a, 20%);
    -fx-font-family: "Roboto";
    -fx-font-size: 11pt;
    -fx-text-fill: #d1d1d1;
}

.button:hover {
    -fx-background-color: #d1d1d1;
    -fx-text-fill: derived(#2a2a2a, 20%);
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: derived(#d1d1d1, -10%);
  -fx-text-fill: derived(#2a2a2a, 20%);
}

